@import url('https://fonts.googleapis.com/css?family=Poor+Story');

a {
  color: inherit !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: #FFDCC9;*/
}



.SearchApp {
    position: absolute;

    width: 700px;
    height: 400px;

    left: 50%; 
    top: 50%;

    margin-left: -350px; /* -(width/2)px */
    margin-top: -300px; /* -(height/2)px */
}

.SearchApp .gosit-main-logo {
    width: 700px;
    object-fit: cover;
}

.SearchApp .gosit-main-text {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 13px;
  text-align: center;
  color: #ff7632;
  font-family: "Poor Story";
  margin-bottom: 20px;
}

.SearchApp .input-box {
  position: relative;
}

/* label focus color */
.SearchApp .input-box .search-query:focus + label {
  color: #ff7632 !important;
}
/* label underline focus color */
.SearchApp .input-box .search-query:focus {
  border-bottom: 1px solid #ff7632 !important;
  box-shadow: 0 1px 0 0 #ff7632 !important;
}

.SearchApp .input-box .search-query {
  position: absolute;
  font-weight: bold;
  font-family: "Poor Story";
  top: 0;
  left: 0;
  width: 650px;
  font-size: 40px !important;
  color: #444;
}


.SearchApp .input-box .search-btn {
  font-size: 36px;
  float: right;
  color: #ff7632;
  width: 27px;
  height: 30px;
  cursor: pointer !important;
}

.SearchApp .input-box .search-btn:hover {
  opacity: 0.7;
}